<div class="wrapper">
  {{#each sortedListings as |listing|}}
    <div class="list-block">
      <span class="category-container"><h5 class="category image-overlay-text">{{listing.name}}</h5></span>
      <img src="{{listing.image}}"  class="list-view-image">
      <span class="add-btn-container"><button {{action 'addToCart' listing}} class="category image-overlay-button">Add to Cart</button></span>
      <h3 class="list-view-title">{{listing.description}}</h3>
      <div class="by-line">
        <span class="author">{{listing.location}}</span>
        <span class="timestamp"> Day ${{listing.pricePerDay}} {{listing-rank listing}}</span>
      </div>
    </div>
  {{/each}}
</div>
